
@{
    ViewBag.Title = "Save";
}

<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
</style>
<body style="background-image: url('/imgs/export-map-share.png'); background-size:cover;">
    <div>
        <script src="~/scripts/Action.js"></script>
        <canvas id="myCanvas" style='position:absolute; left:0px; top:0px;'></canvas>

        <script>

            var IntervalTime = @Session["rate"] * 1000;
            var timeout = @Session["time"] * 1000;
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext('2d');
            showPoint(ctx, '@ViewBag.Lon', '@ViewBag.Lat');
            ctx.strokeStyle = "red";

            myTimer = (function () {
                $.post("@Url.Action("GetValuesAndSave")").done(function (xml) {
                    makeLine(ctx, xml);
                });
            });

            // setting the rate for printing the plain path.
            var intervalID = setInterval(myTimer, IntervalTime);
            // stop printing the plain path after 'duration' seconds.
            setTimeout(function () { clearInterval(intervalID); }, timeout);

        </script>
    </div>
</body>

